/* @import url(//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic); */
@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed|Roboto+Mono&display=swap');
/* @import url(//cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.css); */
/* @import url(//cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css); */
/* @import url(//cdnjs.cloudflare.com/ajax/libs/milligram/1.3.0/milligram.css); */



html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: #333;
	margin: 0;
	padding: 8px;
	box-sizing: border-box;
	font-family:  Roboto, "Segoe UI", Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}
/* 
a:hover {
	text-decoration: underline;
} */

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	padding: 0.4em;
	margin: 0 0 2px 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

input[type="range"] {
	height: 0;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}
