<script context="module">
	let _CodeMirror = CodeMirror;
</script>

<script>
    import { onMount, beforeUpdate, createEventDispatcher, getContext } from 'svelte'

	const dispatch = createEventDispatcher();

    export let lineNumbers = true
    export let top = '35px'
	export let mode = 'javascript';
	export let theme = 'one-dark'; //mode=='javascript'? "one-dark":'eclipse'

   let codemirrorContainer
	// We have to expose set and update methods, rather
	// than making this state-driven through props,
	// because it's difficult to update an editor
	// without resetting scroll otherwise
	export async function setValue(new_code) {
		code = new_code;
		updating_externally = true;
		if (editor && code!=undefined) {
            editor.setValue(code)
            editor.refresh()
        }
        updating_externally = false;
	}

    export function getValue() {
        return editor.getDoc().getValue()
    }

	// export function update(new_code) {
	// 	code = new_code;

	// 	if (editor) {
	// 		const { left, top } = editor.getScrollInfo();
	// 		editor.setValue(code = new_code);
	// 		editor.scrollTo(left, top);
	// 	}
	// }

	export function refresh() {
		editor.refresh()
	}

	export function focus() {
		editor.focus()
		editor.scrollIntoView()
	}


    let textarea
	let editor
	let updating_externally = false
    let CodeMirror
    let code = ''

	// function onNewLine(e) {
	// 	console.log("Enter key was pressed!")
	// 	return CodeMirror.Pass;
	// }

	onMount(() => {
        codemirrorContainer.style.top = top
        CodeMirror = _CodeMirror
        createEditor(mode).then(() => {
            if (editor) editor.setValue(code || '')
        })
	})

	// let first = true;

	async function createEditor(mode) {
		const opts = {
			lineNumbers: lineNumbers,
			lineWrapping: true,
			indentWithTabs: false,
			tabSize: 2,
			value: '',
			mode: {
				name: mode
			},
			autoCloseBrackets: true,
			autoCloseTags: true,

            extraKeys: {
                'Ctrl-Space':'autocomplete',
                'Enter': function(e){
                    if (mode == 'cypher') {
                        editor.replaceSelection("\n" ,"end");
                        return
                    }
                    return CodeMirror.Pass;
                },
                'Ctrl-Enter':function(cm){ 
                    const value = cm.getValue();
                    dispatch('ctrlenter', { value });
                },
				'Ctrl-/': (cm) => {
					if (mode=='cypher' || mode=='javascript') cm.toggleComment({lineComment:'//'})
				},
				'Cmd-/': (cm) => {
					if (mode=='cypher' || mode=='javascript') cm.toggleComment({lineComment:'//'})
				},
				// 'Ctrl-/': 'toggleComment',
				// 'Cmd-/': 'toggleComment',
				"Ctrl-Q": function(cm){ cm.foldCode(cm.getCursor()); },
				// "Enter": onNewLine,
                 },
			autoRefresh:true,
			matchBrackets: true,
			theme: theme,
			foldGutter: true,
			gutters: ["CodeMirror-linenumbers", "CodeMirror-foldgutter"],	

		};

		// Creating a text editor is a lot of work, so we yield
		// the main thread for a moment. This helps reduce jank
		// if (first) await sleep(50);

        editor = CodeMirror.fromTextArea(textarea, opts);

		editor.on('change', instance => {
			if (!updating_externally) {
				const value = instance.getValue();
				dispatch('change', { value });
			}
		});

		// if (first) await sleep(50);
		editor.refresh();

		// first = false;
	}

	// function sleep(ms) {
	// 	return new Promise(fulfil => setTimeout(fulfil, ms));
    // }
    

</script>

<style>
 @import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed|Roboto+Mono&display=swap'); 
 
 .codemirror-container {
		position: absolute;
		/* width: 100%; */
		/* height: calc(100% - 35px); */
		border: none;
        top:35px;
		bottom:0;
        left:0;
        right:0; 
		
		overflow: hidden;
        /* border-top: 1px solid rgba(192, 192, 192, 0.212); */
        /* border-bottom: 1px solid silver; */
		border-top: 1px solid rgba(192, 192, 192, 0.507);
		border-bottom: 1px solid rgba(192, 192, 192, 0.507);
	}

	.codemirror-container :global(.CodeMirror) {
		height: 100%;
        /* width:calc(100%-10px); */
		/* background: transparent; */
		/* font: 400 14px/1.7 var(--font-mono); */
		font: 400 14px/1.3 'Roboto Mono';
		/* color: var(--base); */
	}
	textarea {
		visibility: hidden;
		position: absolute;
		width: 10px;
		height: 10px;
		top: 0;
		left: 0;
		overflow: hidden;
	}


</style>

<div bind:this={codemirrorContainer} class='codemirror-container' style="position:absolute;" >
	<textarea	bind:this={textarea} value={code}></textarea>
</div>