<script>
    import { createEventDispatcher,onMount } from 'svelte'

    const dispatch = createEventDispatcher()


    export let norun = false
    export let hidden = false

    let isFullscreen = false
    let containerElement
    let fullscreenElement
    let runElement
    let parentEl

    $: showHideElement(norun, runElement)
    
    $: showHideElement(hidden, containerElement)

    

    function showHideElement(show, el) {
        if (!el) return

        if (!show) 
            el.classList.remove('hidden')        
        else 
            el.classList.add('hidden') 
    }

    onMount(()=>{  
        parentEl = containerElement.parentElement
        parentEl.addEventListener('keyup', onKeyup)
    })

    function onKeyup(event) {
        // event.preventDefault()
        // if (event.code == "Escape") {
        //     toggelFullscreen()
        // }
    }


    export function getParent(){
        return containerElement.parentElement
    }


    function windowOnResize() {
        // console.log("windowOnResize")
        dispatch('toggle', isFullscreen )
    }


    function moveEverything(fromElement, toElement) {
        var node 
        while (node = fromElement.firstChild) {
            toElement.appendChild(node)
        }       
    }

    export function toggelFullscreen() {

        isFullscreen = ! isFullscreen

        if (isFullscreen){
            fullscreenElement =  document.createElement('div')
            fullscreenElement.classList.add("fullscreen-container-sv")
            document.body.appendChild(fullscreenElement)
            moveEverything(parentEl, fullscreenElement)
            
            fullscreenElement.addEventListener('keyup', onKeyup)
            window.addEventListener('resize', windowOnResize)
            windowOnResize()
        } else {
            fullscreenElement.removeEventListener('keyup', onKeyup)
            window.removeEventListener('resize', windowOnResize)
            
            moveEverything(fullscreenElement, parentEl)
            document.body.removeChild(fullscreenElement)
            fullscreenElement = null
        }
        dispatch('toggle', isFullscreen )
    }

</script>

<style>

    .fullscreen-container {
        position: absolute;
        top:2px;;
        right:10px;
        z-index: 10;
    }

    .fullscreen-container > a {
        color: #777;
        text-decoration: none;
        margin-left: 10px;
    }


    .hidden {
        display: none;
    }

    :global(.fullscreen-container-sv) {
        position: fixed;
        top: 0;
        left:0;
        width: 100%;
        height: 100vh;
        z-index: 100;
        background-color: white;
    }

</style>

<span class="fullscreen-container" bind:this={containerElement}>
    <span class="hidden"></span>
    <a href bind:this={runElement} style="color:#E10098; " title="run" on:click|preventDefault={()=> dispatch('run')}>▶</a><!-- ▷ -->
    <a href title="toggle fullscreen" style="position:relative; top:3px; font-size:1.2em; " on:click|preventDefault={toggelFullscreen}>&#x2922;</a>
    <!-- &#x2922; ◱ -->
</span>