<script>
import JSONFormatter from "json-formatter-js"

export let json
export let hidden

let treeContainer

$: {
    if (treeContainer) {
        treeContainer.innerHTML = ""
        let tree = buildTree(json)
        if (tree)
            treeContainer.appendChild(tree)
    }
}

function buildTree(json) {
    if (!json) 
        return 

    let options = {
        hoverPreviewEnabled: true,
        hoverPreviewArrayCount: 10,
        hoverPreviewFieldCount: 5,
        theme: '',
        animateOpen: true,
        animateClose: true,
        useToJSON: true
    }    
    let jsonString = JSON.stringify(json, null, 2)
    let json2 = JSON.parse( jsonString )
    let formatter = new JSONFormatter(json2,2, options)
    let tree = formatter.render()
    return tree 
}

</script>

<style>

:global(.json-formatter-row) {
  font-family: Roboto Mono, monospace !important;
  font-size: 0.8rem;
}

:global(.json-formatter-row .json-formatter-toggler:after) {
    /* display: inline-block; */
    /* transition: transform 100ms ease-in; */
    content: "\25B6" !important;
    color: #E10098;
    /* color: gray; */
    font-size: 1.2em !important;
}


.jsonviewer-container {
    width: 100%;
    height: 100%;
    /* padding: 40px; */
    overflow: scroll;
    /* box-sizing: border-box; */
    position: relative;
}

.tree-container {
      position:absolute;
      left:10px;
      right:20px;
      bottom:20px;
      top:30px;
      /* border: 1px solid red; */
      /* overflow: auto; */
}

.hidden {
    display: none;
}
</style>

<div  class="jsonviewer-container" class:hidden >
    <div bind:this={treeContainer} class="tree-container"></div>
</div>
