<svelte:head>
	
</svelte:head>

<script>
    import {createEventDispatcher} from 'svelte'
    const dispatch = createEventDispatcher()

    import { onMount } from 'svelte'
    import SplitPane from './SplitPane.svelte';
    import CodeMirror from './CodeMirror.svelte';

    export let hidden = false
    export let url = 'doc/help.md'

    let currentPos = 50

    let htmlContainer
    let splitPane
    let textArea
    let editButton
    let cm

    onMount(async ()=>{  
        let helpUrl = getURLParam('help', url) 
        let helpText = await getFile(helpUrl)
        cm.setValue(helpText)  
        let helpHtml = markdownToHTML(helpText)
        htmlContainer.innerHTML = helpHtml
    })

    function getURLParam(paramName, defaultValue){
        let urlParams = new URLSearchParams(window.location.search)
        var value = urlParams.get(paramName)
        return value? value : defaultValue
    }

    async function getFile(url) {
        try {
            const response = await fetch(url, {mode: 'no-cors'})
            let text = await response.text()
            return text
        } catch(err) {
            console.log("FETCH ERROR:", err)
            return null
        }
    }

    function markdownToHTML(text) {
        if (!text) return ''
        return marked(text)  
    }

    function togglePreview(event) {
        if (event) event.preventDefault() 
        splitPane.fixed =! splitPane.fixed
        splitPane.pos = splitPane.fixed ? 0 : currentPos? currentPos: 50 

        editButton.innerText= splitPane.fixed ? 'edit': 'close editor'
        if (splitPane.fixed){
            // textArea.classList.add("hidden")
        } else {
            cm.refresh()
            cm.focus()
        }
    }

    export function closeEditor(){
       splitPane.fixed = true
       splitPane.pos = 0
       editButton.innerText= 'edit'
    }

    function onSplitPaneChange() {
        currentPos =  splitPane.pos
    }

    function editorOnChange(){
        let text = cm.getValue()
        let html = markdownToHTML(text)
        htmlContainer.innerHTML = html
        dispatch('change', text)
    }

    export function getValue() {
        let text = null
        if (cm) text = cm.getValue()
        return text
    }
    
    export function setValue(text) {
        if (cm) {
            cm.setValue(text)
        }
        let html = markdownToHTML(text)
        if (htmlContainer) htmlContainer.innerHTML = html
    }


</script>

<style>

    .markdown-editor-container {
        top: 35px;
        left:0px;
        bottom:0px;
        right:0px;
        overflow: hidden;
        position: absolute;
    }

    .html-container {
        position:absolute;
        left:0px;
        right:0px;
        bottom:0px;
        top:0px;
        /* border: 1px dotted silver; */
        padding: 10px;
        overflow: auto;
    }

    .slot-a, .slot-b {
        /* border: 1px solid red; */
        height: calc(100% - 1px);
    }

    .slot-a {
        /* border-right: 4px solid silver; */
    }

    .textarea-editor {
        width:100%;
        height:100%;
        resize: none;
        border: none;
        background-color: whitesmoke;
        margin: 0;
    }

    .edit-button {
        position: absolute; 
        top:10px; 
        right:10px;
        color:#E10098;
        border: 1px solid #E10098;
        border-radius: 20px;
        padding: 0 10px 2px 10px;
        font-size: 0.8em;
        font-family: Roboto;
        background-color: white;
        opacity: 0.9;
    }


    .hidden {
        display: none;
    }

    /* markdown */
    :global(h1) {
        /* font-size: 2em; */
        /* color:#848f97; */
    }
    :global(h1, h2, h3, h4, h5, h6) {
        /* font-weight: 300; */
        /* letter-spacing: -.1rem; */
        /* margin-bottom: 2.0rem; */
        /* margin-top: 0; */
        font-family: 'Roboto';
        font-weight: bold;
        padding-top: 1em;
        /* color:#606c76c5; */
    }     

    :global(pre) {
        background: #f4f5f6;
        border-left: 0.3rem solid #9b4dca;
        overflow-y: hidden;
    }

    :global(pre) {
        font-family: 'Roboto Mono', monospace ;
        font-size: 1em;
    }

    :global(pre > code) {
        border-radius: 0;
        display: block;
        padding: 1rem 1.5rem;
        white-space: pre;
    }
    :global(code) {
        background: #f4f5f6;
        border-radius: .4rem;
        margin: 0 .2rem;
        padding: .2rem .5rem;
        white-space: nowrap;
    }

</style>

<div  class="markdown-editor-container" class:hidden >
    <SplitPane bind:this={splitPane} type="horizontal" pos={0} fixed on:change={onSplitPaneChange}> 
        <div slot="a"  class="slot-a" >
            <CodeMirror  bind:this={cm} mode="markdown" theme="one-dark" top="0px" lineNumbers={true} on:change={editorOnChange}  />
        </div>
        <section slot="b" class="slot-b" >
            <div bind:this={htmlContainer} class="html-container"></div>
            <a bind:this={editButton} href class="edit-button tiny-button" on:click={togglePreview} >edit</a> 
        </section>
    </SplitPane>                 
</div>
