<script>
import {createEventDispatcher} from 'svelte'
const dispatch = createEventDispatcher()

let fileChooserElement
var fileReader
var readCallback




export function writeObject(objData, fileName) {
    // var ext = window.confirm("Compress data?") ? 'lz' : 'json'
    var ext = 'json'

    var objDataStr = JSON.stringify(objData, null, 2)
    // var objDataStr = JSON.stringify(objData)
    var a = document.createElement('a');
    a.download = fileName+'.'+ext
    var compressed = ext == 'lz' ? compress(objDataStr): objDataStr
    var bb = new Blob([compressed], { type: 'text/plain' });
    a.href = window.URL.createObjectURL(bb);
    a.click();    
}

export function compress(string) {
    var s = LZString.compressToUTF16(string)
    console.log("compressed: ", s.length/string.length)
    return s
}

export function decompress(compressed){
    var str = LZString.decompressFromUTF16(compressed)
    return str
}

export function readObject (callback){
    readCallback = callback
    fileChooserElement.click()
}

function openFile(event) {
    var input = event.target;
    var fileName = input.files[0].name 
    fileReader = new FileReader();
    fileReader.isCompressed = fileName.slice(-3)=='.lz'
    fileReader.onload = function(e){ 
        let s = fileReader.isCompressed ? decompress(fileReader.result):fileReader.result
        let data = parse(s) 
        dispatch('newdata', data)
        if (typeof readCallback == 'function')
            readCallback(data)
        fileChooserElement.value = ""
    }
    fileReader.readAsText(input.files[0])
}

function parse(dataStr) {
    var data = null
    try {
        data = JSON.parse(dataStr)
    } catch(e){}
    return data
}




</script>

<input bind:this={fileChooserElement}  type='file' style="display:none" on:input={openFile} >
