<script>

export let json
export let hidden

export let opacity = 0.2
export let top = false
export let bottom = false
export let left = false
export let right = false

let treeContainer

$: if (treeContainer) {
        treeContainer.innerHTML = buildTree(json)
}

function buildTree(json) {
    if (!json) return ""
    let s = JSON.stringify(json, null, 2)
    s = s.replace(/\n/, '')
    s = s.replace(/^\{/, '')
    // s = s.replace(/^\}/g, '')
    s = s.replace(/^  /g, '')
    s = s.replace(/"(.+)":/g, '$1:')

    let i = s.lastIndexOf('}')

    return s.slice(0,i)
}

</script>


<style>

.objectviewer-container {
    position:absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
}

.tree-container {
      font-family: Roboto Mono, monospace;
      /* font-weight: bold; */
      font-size: 0.9em;
      line-height: 1.0;
      position:absolute;
      /* border: 1px solid black; */
      white-space: pre;
      overflow: hidden; 
      color: black;
      /* mix-blend-mode: darken; */
      opacity: 0.2;
      padding: 0.5em;
      /* resize: both; */
      max-width: 40%;
      
}

.hidden {
    display: none;
}

.top {
    top: 0;
}

.bottom {
    bottom: 0;
}

.left {
    left: 0;
}

.right {
    right: 0;
}

</style>

<div  class="objectviewer-container" class:hidden >
    <div bind:this={treeContainer} style="opacity:{opacity};"
    class="tree-container"  class:left class:right class:bottom class:top></div>
</div>
