<svelte:options accessors/>
<script>
    // import { onMount } from 'svelte'
    import { createEventDispatcher } from 'svelte'
    const dispatch = createEventDispatcher()

    export let state = ''
    export let labels = ['A', 'B', 'C']

    function switchTo(st) {
        state = st
        dispatch('change', state)
    }

    export function getValue() {
        return state
    }
    export function setValue(v) {
        state = v
    }

</script>

<style>

    .switcher-container {
        font-size: 0.9em;
        position: absolute;
        top: 8px;
        margin: auto;
        z-index: 10;
        font-family: Roboto, sans-serif;
        width: 100%;
        text-align: center;
    }

    .switcher-container  a {
        font-weight: bold;
        color: #555;
        opacity: 0.3;
        margin-left: 15px;
        padding:3px;
        border-bottom: 3px solid transparent;
    }

    .active {
        opacity: 1.0 !important;
        border-bottom-color: #555 !important;
    }
    
</style>

<div class="switcher-container">

{#each labels as s}
    <a href  class:active={ state==s } on:click|preventDefault={ ()=> switchTo(s) } >{s}</a>
{/each}

</div>