<script>
import {createEventDispatcher} from 'svelte'
import Dialog from './Dialog.svelte'
const dispatch = createEventDispatcher()



let tabs = new Map()
let activeTabName = ""
let activeTabData = null
let fileChooserElement
let dialog

export function getTabs() {
    if (!tabs) return null
    var o ={}
    tabs.forEach( (val,key) => o[key]=val)
    return o
}

export function getActiveTabName() {
    return activeTabName
}

export function setTabs(tabsData) {
    let tbs = new Map()
    for (let tabName in tabsData) {
        if (!tabName) continue
        tbs.set(tabName,tabsData[tabName])  
    }
    tabs = tbs
}


export function setSelectedTabData(data){
    setTabData(activeTabName, data)
}

export function getSelectedTabData() {
    return activeTabData
}


function setTabData(tabName, data) {
    if (!tabName) 
        return
    tabs.set(tabName, data)
}


function addTab(tabName, data) {
    if (!tabName) 
        return
    tabs.set(tabName, data)
    activateTab(tabName)
}


function activateFirstTab(tbs) {
    if (tbs){
        let {value,done} = tbs.entries().next()
        if (!done)
            [activeTabName, activeTabData] = value
        else
            [activeTabName, activeTabData] = ["",null]
    }  else {
        [activeTabName, activeTabData] = ["",null]
    }  
}


function addNewTab(){
    dialog.showDialog("Enter a new tab name","new", onAddNewTabOk)
}

function onAddNewTabOk(tabName){
    if (!tabName) return
    if (tabs.has(tabName)){
        dialog.showDialog(`"${tabName}" already exists. Please try again.`,tabName, onAddNewTabOk)
        return
    }
    addTab(tabName, null)
}




export function activateTab(name) {
    if (! tabs.has(name)) return
    activeTabName = name
    activeTabData = tabs.get(name)
    dispatch('select', {activeTabName, activeTabData})
}


function deleteTabByName(tabName) {
    let tabData = JSON.parse(JSON.stringify(tabs.get(tabName))) 
    tabs.delete(tabName)
    if (tabName == activeTabName){
        activateFirstTab(tabs)
        dispatch('select', {activeTabName, activeTabData})
    }
    tabs = tabs
    return tabData
}




// events ******************************************************************************

function renameTab(){
    let newTabName = activeTabName
    dialog.showDialog(`Rename "${newTabName}"`,newTabName, onRenameTabOk)
}


function onRenameTabOk(newTabName){
    if (!newTabName) return
    if (tabs.has( newTabName)){
        dialog.showDialog(`Rename "${newTabName}"`,newTabName, onRenameTabOk)
        return
    }
    let data = deleteTabByName(activeTabName)
    addTab(newTabName, data)
    setTimeout(()=> activateTab(newTabName),100)
}



function tabOnClick(e) {
    activateTab( this.getAttribute("data-tabName"))
}


function tabOnDelete() {
    deleteTabByName(this.getAttribute('data-tabName')) 
}

function showMenu(params) {
   isMenuVisible = true 
}
function hideMenu(params) {
   isMenuVisible = false 
}

var menu
var isMenuVisible = false

</script>

<style>

    .tabs-container {
        font-size: 14px;
        padding-left: 6px;
        background-color: rgba(0, 0, 0, 0.75);
        /* padding-top:5px; */
    }
    
    .back {
        border-bottom: 1px solid silver;
        /*
        position: absolute;
        top:0;
        width:100%;
        height: 34px; 
        */
        position: relative;
        top:-1px;
        left:-6px;
        width:calc(100% + 6px);
        z-index: -1;
    }
    .menu-toggler {
        margin: 0;
        display: inline-block;
        padding: 5px 4px 0 0;
        cursor: pointer;
        color: silver;
        position: relative;
    }
    .menu {
        position: absolute;
        padding:10px;
        top: 5px;
        left: 0;
        z-index:100;
        background-color: #333;
        color: silver;
    }

    .menu div{
        padding: 10px;
        cursor: default;
    }
    .menu div:hover {
        color: white;
        background-color: #555;
    }

    .tab {
        margin: 0;
        display: inline-block;
        padding: 5px 4px 0 20px;
        cursor: default;
        color: silver;
        border-right: 1px solid black;
        /* border-top-width: 1px; */
        position: relative;
        height: 27px;
        /* top:1px; */
        /* border-top-left-radius: 8px; */
        /* border-top-right-radius: 8px; */
    }

    .tab:hover .x {
        visibility: visible;
    }


    .active {
        background-color: white;
        border-top-color: silver;
        border-bottom-color: white;   
        border-left-color: silver;
        border-right-color: white;
        color: black;
        }


    .active .x {
        color: #E10098;
        visibility: visible;
    }

    .x {
        padding:0 3px 0 3px;
        margin-left:3px;
        color: gray;
        visibility: hidden;
        font-size: 1.2em;
    }
    .x:hover {
        color: #E10098;
    }
    .hidden {
        display: none;
    }

    .hr {
        border-top: 1px dotted silver;
        padding: 0 !important;
        margin: 5px !important;
        height:1px !important;
    }
</style>

<div class="tabs-container">
    <Dialog bind:this={dialog}></Dialog>
    <!-- <span class="menu-toggler" style="font-weight:bold" >Grapher</span> -->
    <span class="menu-toggler" on:mouseover={showMenu}>☰</span>
    <div class="menu" bind:this={menu} class:hidden={!isMenuVisible} on:mouseleave={hideMenu}>
        <div on:click={renameTab} >rename tab</div>
        <div class="hr"></div>
        <div on:click={()=> dispatch('exporttabs')} >export tabs</div>
        <div on:click={()=> dispatch('importtabs')} >import tabs</div>
        <div class="hr"></div>
        <div on:click={()=> dispatch('exportdata')} >export DATA</div>
        <div on:click={()=> dispatch('importdata')} >import DATA</div>
        <div class="hr"></div>
        <div on:click={()=> dispatch('exportgraphdata')} >export Graph data</div>
        <div on:click={()=> dispatch('importgraphdata')} >import Graph data</div>
    </div>
    {#each Array.from(tabs.keys()) as name}
        <span class="tab" class:active={name == activeTabName} data-tabName={name} on:click={tabOnClick}> {name} 
            <span class="x" title="delete {name} tab" data-tabName={name} on:click={tabOnDelete}> &#xd7; </span>
        </span>
    {/each}

    <span title="Add a new tab" class="menu-toggler" style="font-weight:bold; color:white;-#E10098; font-size:12d0%;" on:click={addNewTab}>&nbsp;＋&nbsp;</span>
</div> 
